body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#text-container {
    text-align: center;
}

#centered-text {
    font-size: 24px;
    font-weight: bold;
}
